<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teste</title>
    </head>

    <body>

        <p id="jsonTeste"></p>
        
        <footer class="rodape reveal">
            <ul class="rodape__coluna">

                <form id="formulario" name="sugest_form" action="/" method="post">
                    <h3 class="rodape__subtitulo">Quer deixar alguma sugestão?</h3>
                    <li class="rodape__item">
                        <input id="nome_campo" required type="text" placeholder="Nome" name="nome"/>
                    </li>
                    <li class="rodape__item">
                        <input id="email_campo" required type="text" placeholder="E-mail" name="email"/>
                    </li>
                    
                    {{!-- teste --}}

                    <li class="rodape__item">
                        <input id="sobre_campo" required type="text" placeholder="Sobre" name="sobre">
                    </li>

                    <li class="rodape__item">
                        <input id="experiencia_campo" required type="text" placeholder="experiencia" name="experiencia">
                    </li>

                    <li class="rodape__item">
                        <input id="formacaoAcademica_campo" required type="text" placeholder="Formação Acadêmica" name="formacaoAcademica">
                    </li>

                    <li class="rodape__item">
                        <input id="skills_campo" required type="text" placeholder="Skills" name="skills">
                    </li>

                    <li class="rodape__item">
                        <button type="submit" class="rodape__botao">Enviar</button>
                    </li>
                </form>
            </ul>
        </footer>

        <h1>TITLE</h1>
        <div id="dadosAPItitle"></div>

        <br>

        <h1>COMPANY_NAME</h1>
        <div id="dadosAPIcompanyName"></div>

        <br>

        <h1>DESCRIPTION</h1>
        <div id="dadosAPIdescription"></div>

        <br>

        <h1>POSTED_AT</h1>
        <div id="dadosAPIpostedAt"></div>

        <br>

        <h1>SCHEDULE_TYPE</h1>
        <div id="dadosAPIscheduleType"></div>

        <br>

        <h1>LOCATION</h1>
        <div id="dadosAPIlocation"></div>

        <br>
        
    </body>

</html>
<script src="sendform.js"></script>
<script src="leitorDadosAPI.js"></script>